<a href="https://colab.research.google.com/github/epicalekspwner/OpenDataCustomerAnalytics/blob/main/equidsData/equidsSummering/src/srcPreProcessing_equidsSummering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![OpenDataBanner](https://raw.githubusercontent.com/epicalekspwner/OpenDataCustomerAnalytics/main/_repoResources/bannerOpenDataCustomerAnalytics.svg)

In [1]:
### Import Required Libraries
import numpy as np
import pandas as pd

In [2]:
### Import df
df = pd.read_csv('/content/drive/MyDrive/Open Data/equids-summering-canton.csv', sep = ';')

In [3]:
### Drop Month After September 
df1 = df[df['Month'] <= 9]

In [4]:
### Drop Month Prior to May
df2 = df1[df1['Month'] >= 5]

In [5]:
### Drop Depreciated Column
df2.drop(['Month'], axis = 1, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [6]:
### Rename Column
df2 = df2.rename(columns = {
    '??': 'NaN',
})

In [7]:
### Replace NaN Values
df2.fillna(0, inplace = True)

In [8]:
### Compute Average per Year/Canton
df2 = df2.groupby(['Year']).mean().round(0).astype(int)

In [9]:
### Compute National Census
df2['CH'] = df2.sum(axis=1).astype(int)

In [10]:
### Visualize DataFrame
df2

,AI,AR,BE,FR,GL,GR,JU,LU,NE,NW,...,SG,SO,SZ,TI,UR,VD,VS,ZG,NaN,CH
Year,,,,,,,,,,,,,,,,,,,,,
2016,0,4,455,220,25,835,73,0,88,11,...,43,58,104,101,9,140,179,0,17,2375
2017,0,4,476,218,27,889,1109,5,88,18,...,61,56,110,140,7,184,200,0,73,3681
2018,0,8,699,203,28,1000,1239,13,100,16,...,45,74,119,184,11,175,284,0,42,4258
2019,0,9,737,239,24,1029,1217,16,117,21,...,65,84,138,222,11,166,315,0,21,4452
2020,0,12,658,265,25,1076,1152,13,113,13,...,53,68,141,225,11,181,326,0,20,4385
2021,4,11,648,221,23,980,1117,12,100,12,...,57,58,138,223,11,178,223,0,26,4078
2022,5,12,594,242,25,1053,1081,14,110,11,...,59,85,147,202,26,175,216,0,18,4106

In [11]:
### Export DataFrame
df2.to_csv('/content/drive/MyDrive/Open Data/equidsSummering.csv', index = False)